<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nesciunt ipsa ex tempora adipisci facilis deserunt!
      Fuga tempora aperiam reprehenderit eaque, eius sapiente explicabo nemo laudantium ad aut, illo officiis labore.
      Quas magni et maxime porro nihil, laudantium eaque vitae.</p>
  </div>
</div>