<div class="jumbotron bg-white mt-4 p-4">
  <h1 class="d-4">Note App NodeJs and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus suscipit eaque, voluptate fugiat totam
    magnam ullam. Laudantium possimus officia quidem debitis? Suscipit corporis saepe voluptates modi similique animi
    doloremque optio.</p>
  <hr class="mr-4">

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum ea aperiam, quas, voluptates corrupti modi fugit
    obcaecati eos labore odio voluptatibus, saepe ratione. Non ut numquam itaque! Eligendi, quidem dolore?</p>
  <a href="https://youtube.com/" class="btn btn-primary btn-lg"> youtube</a>
</div>